/* colors: #eabe7b, #db8951 #b45b27, #8d1c7a, #580a5c */

body {
    background-color: #eabe7b;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-family: "Barlow";
    width: 50%;
    margin: auto;
  }
  
  h1 {
    color: #8d1c7a;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    color: #580a5c;
  }

  #hi {
    text-align: left;
    font-size: 7em;
  }

  #shane {
    text-align: left;
  }

  #greeting {
    padding: 10px;
    display: grid;
    grid-template-areas:
    'headshot intro intro';
    grid-gap: 1rem;
  }

  #headshot img {
    grid-area: headshot;
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  #intro {
    grid-area: intro;
    font-size: larger;
    text-align: right;
  }